.container{
    display: flex;
    justify-content: center;
    padding-top: 65px;
}
.box{
    background-color: rgb(252, 249, 245);
    width: 220px;
    height: 280px;
    border-radius: 10px;
    margin: 40px 20px;
}
.image{
    margin-top: -120px;
    display: flex;
    justify-content: center;
}
.cardfooter{
    display: flex;
    width: 70%;
    margin: 0px auto;
    justify-content: space-between;
    padding-top: 30%;

}
.box h3{
    width: 70%;
    margin: 0px auto;
    text-align: center;
    

}
.box p{
    width: 70%;
    margin: 0px auto;
    text-align: center;
    padding-top: 5%;
}